.cardTesti{
    background-color: #F1F3FF;
}

.star{
    color: #F9CC00
}

.testiSewa{
    background-color: #0D28A6;
}

.btn-sewa{
    background-color: #5CB85F;
    box-shadow: none !important;
}

.swiper-slide {
    background: #f1f3ff;
    border-radius: 10px;
    padding: 28px;
    width: 45% !important;
  }
  
  .main-content {
    height: 250px;
    display: flex;
    align-items: center;
  }
  
  .title-slide {
    text-align: center;
  }
  
  .desc {
    font-size: 15px;
    font-weight: 600;
  }
  
  .fullname {
    font-size: 15px
  }